<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <script src="https://kit.fontawesome.com/8762fb5537.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/ablauf.css">
</head>
<body>
    <div class="main-container">
        <div class="steps-container">
            <div class="step in-progress">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
                </svg>
                <div class="preloader"></div>
                <div class="label loading">
                    Kontaktaufnahme 
                    <div class="description">
                        Nehmen Sie telefonisch,
                        Per Mail oder über unser
                        Kontaktformular zu uns
                        Kontakt auf
                    </div>
                </div>
                <div class="icon completed">
                    <i class="fa-solid fa-phone-volume"></i>
                </div>
            </div>
            <div class="line prev-step-in-progress"></div>
            <div class="step completed">
                <div class="label loading">
                    Terminvereinbarung
                    <div class="description">
                        Wir melden uns dann bei 
                        Ihnen, um einen Termin für
                        Die Objektbesichtigung 
                        festzulegen                        
                    </div>
                </div>
                <div class="icon completed">
                    <i class="fa-solid fa-calendar-check"></i>
                </div>
            </div>
            <div class="line "></div>
            <div class="step completed">
                <div class="label loading">
                    Planung und Angebot
                    <div class="description">
                        Entsprechend Ihrer Wünsche 
                        planen und simulieren wir Ihr 
                        Projekt und unterbreiten Ihnen 
                        ein maßgeschneidertes Angebot                                               
                    </div>
                </div>
                <div class="icon completed">
                    <i class="fa-solid fa-list-check"></i>
                </div>
            </div>
            <div class="line"></div>
            <div class="step completed">
                <div class="label loading">
                    Projektrealisierung
                    <div class="description">
                        Wir vereinbaren mit Ihnen
                        einen Bautermin und 
                        realisieren Ihr Projekt                                                                 
                    </div>
                </div>
                <div class="icon completed">
                    <i class="fas fa-home"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
