<section id="angebot" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <p>Unser Angebot</p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-5 d-flex align-items-start" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
            <p>
              Steigen Sie um auf grüne Energie!
            </p>
            <ul style="font-size: 1.5em;">
              <li><i class="bi bi-check2-all"></i> PV-Anlagen</li>
              <li><i class="bi bi-check2-all"></i> Wallboxen</li>
              <li><i class="bi bi-check2-all"></i> Batteriespeicher</li>
            </ul>
            <p>
              Machen Sie den ersten Schritt in eine nachhaltige Zukunft
            </p>
          </div>
        </div>
        <div class="col-lg-7 position-relative about-img" style="background-size: contain; background-position: center center; background-image: url(assets/img/ev-gif.webp); background-repeat: no-repeat;" data-aos="fade-up" data-aos-delay="150"></div>

      </div>

    </div>
  </section>